.contain{
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}
#tieuDe{
    color:#444;
}
#ghi_chu{
    font-family: monospace;
    font-size: 18px;
}
#blue-test{
    color:blue;
}
